<!-- footer section starts  -->

<section id="footer">
    <div class="footer">

        <div class="box-container">

            <div class="box">
                <h3>About Us</h3>
                <p>
                    At Sarika Trader, we take pride in our commitment to the highest quality of Indian spices. Often
                    referred to locally as the 'Spice King', we work hard to ensure the authenticity and quality of
                    every spice we sell. Whether you are looking for something new to spice up your cooking or are an
                    experienced chef in search of the finest spices, we have something for you. Explore our vast
                    selection of Indian spices and seasonings and experience a taste of India like never before.
                </p>
            </div>

            <div class="box">
                <h3>Quick Links</h3>
                <ul style="  list-style-type: none;">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/home/#about">AboutUs</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/internship">Career</a></li>
                    <li><a href="/home/#team">Team</a></li>
                    <li><a href="/contact">ContactUs</a></li>
                </ul>
            </div>

            <div class="box">
                <h3>Follow Us</h3>
                <ul style="  list-style-type: none;">
                    <!-- <a href="https://www.facebook.com/Oasis-Infobyte-108773075041931/?ref=page_internal"><i
                             class="fab fa-facebook"></i> Facebook</a> -->
                    <li><a href="https://www.facebook.com/Oasis-Infobyte-108773075041931/?ref=page_internal"><i
                                class="fab fa-whatsapp"></i> WhatsApp</a></li>
                    <li><a href="https://www.instagram.com/oasisinfobyte/"><i class="fab fa-instagram"></i>
                            Instagram</a></li>
                    <li><a href="https://www.linkedin.com/company/80960044/admin/"><i class="fab fa-linkedin"></i>
                            LinkedIn</a></li>
                    <li><a href="https://twitter.com/OasisInfobyte"><i class="fab fa-telegram"></i>
                            Telegram</a></li>
                    <!-- <a href="https://twitter.com/OasisInfobyte"><i class="fab fa-twitter"></i> Twitter</a> -->
                </ul>
            </div>

            <div class="box">
                <h3>Contact Info</h3>
                <div class="info">
                    <i class="fas fa-phone"></i>
                    <p> 8445518517 </p>
                </div>
                <div class="info">
                    <i class="fas fa-envelope"></i>
                    <p>
                        <a href="mailto:mknextgenteche@protonmail.com">mknextgenteche@protonmail.com</a>
                    </p>
                </div>
                <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p> South West, New Delhi, India - 110021 </p>
                </div>


            </div>
            <h1 class="credit">
                &copy; Copyright NextGen Teche. All Rights Reserved Designed by Team NextGen Teche.
            </h1>
        </div>
    </div>
</section>

<!-- footer section ends  -->


<script>
    var loader = document.getElementById("preloader");
    window.addEventListener("load", function () {
        loader.style.display = "none";
    });

</script>
</body>

</html>
