{% include "header.html" %}

<!-- Home Section Starts -->
<section id="home" class="home">
    <h1 class="banner text-img">Welcome To Sarika Trader</h1>
    <h5 class="slogan">Use 100% Pure and Homemade Spices <br>to make yourself healthy</h5>
    <button><a href="/internship">Apply Now</a></button>
</section>

<!-- Home Section Ends -->

<!-- About section starts -->

<section id="about" class="about">
    <h1 class="heading">About Us</h1>
    <div class="row">
        <div class="content">
            <p>
                Welcome to Sarika Trader, your one-stop-shop for all your Indian spice needs! We're a newly created
                business that opened our doors in 2021, and already we're making waves in the industry. At Sarika
                Trader, we guarantee that all of our spices are 100% pure, tasty, and healthy. We are committed to
                providing our customers with a memorable shopping experience that keeps them coming back for more.
            </p>
            <br>
            <p>
                At Sarika Trader, we take pride in our commitment to the highest quality of Indian spices. Often
                referred to locally as the 'Spice King', we work hard to ensure the authenticity and quality of
                every spice we sell. Whether you are looking for something new to spice up your cooking or are an
                experienced chef in search of the finest spices, we have something for you. Explore our vast
                selection of Indian spices and seasonings and experience a taste of India like never before.
            </p>
            <br>
            <p>
                FSSAI certified having Licence No. : 22721568000148
            </p>
            <br>
            <button class="btn"><a href="/internship">Read More</a></button>
        </div>
        <div class="image">
            <img src="/static/about.webp" alt="about img">
        </div>
    </div>
</section>

<!-- About section ends -->

<!-- Team section starts -->

<section id="team" class="team">
    <h1 class="heading">Our Team</h1>
    <div class="row">
        <div class="card">
            <div class="image">
                <img src="/static/man (1).png" alt="Kritik Gupta">
            </div>
            <div class="info">
                <h3>Gyan Chandra Saxena</h3>
                <h4>Founder</h4>
                <div class="icons">
                    <a href="https://www.facebook.com/laksh.dutta.9" class="fab fa-facebook-f"></a>
                    <a href="https://www.linkedin.com/in/lakshya-5861a722a/" class="fab fa-linkedin"></a>
                    <a href="https://instagram.com/thelakshyaduttworld?utm_medium=copy_link"
                        class="fab fa-instagram"></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/static/man (1).png" alt="Mratyunjay Saxena">
            </div>
            <div class="info">
                <h3>Mratyunjay Saxena</h3>
                <h4>Co-Founder & CEO</h4>
                <div class="icons">
                    <a href="https://www.facebook.com/profile.php?id=100077413324974" class="fab fa-facebook-f"></a>
                    <a href="https://www.linkedin.com/in/mratyunjay-saxena-963176226/" class="fab fa-linkedin"></a>
                    <a href="https://www.instagram.com/innocent_mratyunjay/" class="fab fa-instagram"></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/static/man (1).png" alt="Priyansh Saxena">
            </div>
            <div class="info">
                <h3>Aman Saxena</h3>
                <h4>Co-Founder & MD</h4>
                <div class="icons">
                    <a href="https://www.facebook.com/laksh.dutta.9" class="fab fa-facebook-f"></a>
                    <a href="https://www.linkedin.com/in/lakshya-5861a722a/" class="fab fa-linkedin"></a>
                    <a href="https://instagram.com/thelakshyaduttworld?utm_medium=copy_link"
                        class="fab fa-instagram"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team section ends -->

{% include "footer.html" %}